* {
  background-color: black;
}

#titulo { 
  font-family: Arial;
  font-size: 30px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  margin: 30px;
  height: 20px;
  text-align: center;
}

#subtitulo { 
  font-family: Arial;
  font-size: 22px;
  padding: 10px;
  color: rgb(14, 204, 14);
  display: flex;
  justify-content: center;
  margin: 30px;
  height: 0px;
  text-align: center;
}

#profile-text {
  font-family: Arial;
  font-size: 16px;
  color: rgb(255, 255, 255);
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
}

.imagens {
 display: block;
 padding: 20px;
 margin: 0 auto;
 width: 20%;
 height: 20%;
}

