body {

ul {
    margin: 0;
    padding: 0;
}

nav {
    background-color: #000000;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px;
    margin: 2px;
}

ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

li {
  margin: 0 20px;
}

a {
  color: white;
  text-decoration: none;
  padding: 15px 0;
  display: inline-block;
}

a:hover {
  color: yellow;
}
}